/* 
    primary color:     #2A0944
    secondary color:   #3FA796
    tertiary color:    #FEC260
    accent color:      #A10035
*/

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h1 {
    text-align: center;
    margin-bottom: 3rem;
}

h4 {
    text-align: center;
    font-size: 3rem;
    letter-spacing: 0.5rem;
}

p {
    text-align: center;
    letter-spacing: 2px;
    line-height: 25px;
    margin: 1rem 2rem;
}

.block {
    margin: 1rem auto 4rem;
    padding: 3rem;
    width: 50%;
    border: 1px solid #000;
    border-radius: 1rem;
    text-align: center;
    cursor: pointer;
}

#block {
    background-color: #aabbcc;
}

/* default styles not necessary
ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}
*/
